/.ipynb_checkpoints
/annotation/label_map.pbtxt
/dataset
/csv
/models
/nvvm
/pretrained
/records
/exported-models
exporter_main_v2.py
model_main_tf2.py
xml_to_csv.py


/out_model/faster_rcnn/*
!out_model/faster_rcnn/pipeline.config
